html {
	scroll-behavior: smooth !important;
}

body {
	scroll-behavior: smooth !important;
}

.modal-backdrop {
	z-index: 999;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	/* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1); */
	overflow-y: hidden;
	transition: ease-in-out 0.4s;
}


.overlay-content {
	position: relative;
	width: 90%;
	text-align: center;
	margin-top: 30px;
	font-size: 20px !important;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	/* font-size: 36px; */
	/* color: #818181; */
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	/* position: absolute; */
	top: 0px;
	right: 65px;
	/* font-size: 60px; */
}

.second-contact::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ffffff;
	transition: all .5s;
}

.second-contact:hover::after {
	width: 25%;

}

@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}

	.overlay a {
		font-size: 20px
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

/* hambaurger */
#nav-icon3 {
	width: 60px;
	height: 45px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 50%;
	/* background: #e1e1e1;  */
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
	top: 10px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
	top: 20px;
	width: 60%;
	left: -5px;
}

#nav-icon3 span:nth-child(4) {
	top: 30px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/* navbar scrolled css */
.navbar {
	transition: all 0.3s;
}

/* card */
.owl-nav button {
	position: absolute;
	/* top: 50%; */
	background-color: #000;
	transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
	opacity: 0.8;
	margin-left: -10px !important;
	margin-right: -10px !important;
	transition: all 0.2s;
}

.owl-nav button.owl-prev {
	left: 25px !important;
	background: #ffffff00 !important;
	color: white !important;
}

.owl-nav button.owl-next {
	right: 25px !important;
	background: #ffffff00 !important;
	color: white !important;
}

.owl-dots {
	text-align: center;
	padding-top: 15px;
	margin-top: -50px !important;

}

.owl-dots button.owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	background: #ccc;
	margin: 0 3px;
}

.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.38) !important;
}

button span {
	font-size: 70px;
	position: relative;
	top: -5px;
}

.owl-nav button:focus {
	outline: none;
}

.owl-carousel .owl-item img {
	width: 100% !important;
}

#carousel .item img {
	display: block;
	width: 100%;
	height: 60vh;
	background-size: cover;
	border-radius: 10px;
}

.item-image {
	position: relative;
	overflow: hidden;
}

.item-image::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

#owl-demo .item {
	display: block;
	width: 100%;
	height: 50vh;
	background-size: cover;
}

#card-owl-carousel .owl-nav button {
	margin-left: -50px !important;
	margin-right: -50px !important;
}

.card-iklan {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-bekerjasama .owl-nav button {
	color: #052c52 !important;
}

.slider-profile .owl-dots button.owl-dot.active {
	background: #052c52 !important;
	opacity: 0.9;
	width: 12.5px;
	height: 12.5px;
	transition: 0.2s all;
}

/* bottom bar */
.bottom-bar {
	z-index: 9;
	/* width: calc((100% / 8));
	text-align: center;
	display: inline-block; */
	background: rgb(255, 193, 7);
	background: linear-gradient(90deg, rgba(255, 193, 7, 1) 0%, rgba(22, 126, 228, 1) 25%, rgba(5, 44, 82, 1) 100%);
	height: 5.5rem;
}

.bottom-bar-caption {
	font-size: 0.9rem;
}

.item-wrapper {
	font-size: 1rem;
	/* text-align: center; */
	padding: 1rem;
	width: calc((100% / 6));
}

.item-wrapper:hover {
	transition: all .3s;
	/* background-color: rgb(255, 255, 255); */
	color: #052c52;
	opacity: 0.7;
}


.item-wrapper-content i {
	font-size: 25px;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.item-wrapper {
		font-size: 0.7rem;
		line-height: 15px;
		/* padding: 1rem; */
	}

	.item-wrapper-content {
		/* padding: 10px; */
	}

	.item-wrapper-content i {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.bottom-bar-caption {
		font-size: 0.5rem;
	}
}

/* card berita tender */
#cards_landscape_wrap-2 a {
	text-decoration: none;
	outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	width: 100%;
	height: 225px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
	opacity: 0.7;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
	text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
	padding: 10px;
}

#cards_landscape_wrap-2 .card-flyer {
	background: #FFFFFF;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
	background: #fff;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.50);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

/* to bottom */
.to-bottom-icon {
	animation: jump-arrow 2.5s infinite;
	bottom: 0;
	color: #efb225;
	display: block;
	font-size: 2.5em;
	height: 1.5em;
	left: 50%;
	line-height: 1.5em;
	position: absolute;
	text-align: center;
	transform: translatex(-50%);
	width: 1.5em;
}

.to-bottom-icon:hover,
.to-bottom-icon:focus,
.to-bottom-icon:active {
	color: #052c52;
}

@keyframes jump-arrow {

	0%,
	20%,
	55%,
	80%,
	100% {
		transform: translate3d(-50%, 0, 0);
	}

	40% {
		transform: translate3d(-50%, -15px, 0);
	}

	70% {
		transform: translate3d(-50%, -10px, 0);
	}

	90% {
		transform: translate3d(-50%, -5px, 0);
	}
}
